@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --grafite: 30 0% 15%;
    --vermelho-intenso: 356 79% 41%;
    --white_conquista: 0 0% 98%;
    --cinza-medio: 30 0% 50%;
  }
}